*{
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* header style */
.heading{
  display: flex;
  max-width: 1440px;
  margin: 50px auto;
  padding-left: 135px;
}
.header .fa-bars{
  display: none;
}
.logo-title{
  display: flex;
  justify-content: space-between;
}
.list{
  margin-left: 300px;
  list-style: none;
}
.logo-title ul{
  display: flex;
  align-items: center;
}
.list a{
  margin-right: 40px;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.logo img{
  width: 40px;
  align-items: center;
}
.heading-2{
  margin-left: 16px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.list span{
  color: #FF5400;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.special{
  color: #FF5400;
  font-size: 36px;
  font-weight: 800;
}
.banner{
  background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 50px auto;
  height: 500px;
  width: 1170px;
  align-items: center;
  
}
.banner-title{
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  padding-top: 106px;
}
.description{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  padding-top: 24px;
  padding-left: 200px;
  padding-right: 200px;
}
.btn-list{
  display: flex;
  padding: 0 201px;
  padding-top: 48px;
  gap: 34px;
}

.fast-btn{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
}
.secend-btn{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
}
.thard-btn{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
}
.last-btn{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
/* main section style */
main{
  max-width: 1440px;
  margin: 100px auto;
  align-items: center;
}
.main-section{
  display: flex;
  gap: 100px;
}
.travel-img img{
  height: 90%;
  width: 700px;
  margin-right: 50px;
}
.main-title{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-left: 60px;
  padding-bottom: 24px;
}
.main-description{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  margin-left: 60px;
  line-height: 26px; 
  padding-bottom: 24px;
}
ul .description-1{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin-left: 70px;
  padding-bottom: 16px;
}
ul .description-2{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  margin-left: 70px;
  padding-bottom: 16px;
  line-height: 26px; 
}
ul .description-3{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-weight: 400;
  margin-left: 70px;
  line-height: 26px; 
}
.last-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  padding-top: 24px;
  margin-left: 60px;
}
.btn{
  margin-top: 24px;
  margin-left: 60px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: #FF5400;
}
/* destination style */
.primary-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.primary-description{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  padding: 24px 200px;
}
.row-container{
  margin: 50px auto;
  margin-left: 60px;
}
.row{
  gap: 24px;
}
.row-2{
  gap: 24px;
  padding-top: 24px;
}
.row-3{
  gap: 24px;
  padding-top: 24px;
}
/*  Choose section style */
.choose-container{
  gap: 24px;
  display: flex;
}
.choose-content{
  width: 573px;
  height: 284px;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.choose-content-1{
  width: 573px;
  height: 284px;
  width: 573px;
  height: 284px;
  padding: 30px;
  border-radius: 16px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}
.choose-content-2{
  padding: 30px;
  border-radius: 16px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  width: 573px;
  height: 284px;
  align-items: center;
  margin: 24px auto;
}
.choose-title{
  padding-top: 32px;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  padding-top: 16px;
}

/* footer style */
.title-description{
  padding-top: 15px;
  color: #5A5A5D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

/* media queries  */
@media screen and (max-width:600px){
  .banner img{
    width: 335px;
    height: 483px;
  }
  .main-section,
  .row-container{
    flex-direction: column;
  }
  .banner-title{
    text-align: center;
  }
  .btn-list,
  .fast-btn{
    flex-direction: column;
  }
  .header .fa-bars{
    display: block;
}
  .header .list{
    position: absolute;
    top:50px; left:444px;
    background: #eee;
  }
  .header .nevber a{
    display: block;
  }
}